/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 5;
  
}

.mat-header-cell{
  /* background-color: #c0c0c0; */
  background-color:#5b6969;
  color: white;
  height:25;
  position: sticky;
  top:0;
 
}

.mddropdown {
	background-color: rgb(0,110,140);
	color: white;
	padding:10px 10px;
	border: 1px solid rgb(0,150,150);
	
}

.mat-row:nth-child(even){
  background-color:white;
  }

.mat-row:nth-child(odd){
  background-color:#dcf0f7;
  }

.mat-table{
  width:auto;
}

  .rect{
    display: inline-block;
    height: 25%;
    width: 100%;
    background-color: blue;
    text-align: center;
    color: white;
  }

.rect2{
    display: inline-block;
    height: 25%;
    width: 25%;
    background-color: blue;
    text-align: center;
    color: white;
  }

  .overide{
    font-size: 125%;
  }

  .contanier-fluid{
    height: 75%;
  }
  
  .inter{
    font-style: bold;
  }

  .btn-primary{
    background-color: orange;
    color: white;
    position: absolute;
    right: 5%;
    
  }

  .btn-primary:hover{
    background-color: orange;
    color: white;
    
  }

  .btn-primary:click{
    background-color: orange;
    color: white;
    
  }


  .btn-default {
    background-color: teal;
    color: white;
    width:100%;
    position: relative;
    cursor: default;
}

  .btn-default:hover {
    background-color:teal;
    color: white;
}

  .bsizing{
    font-size:200%;
    color: white;
  }

  .mat-cell{
    height :10%
  }

.changes{
  overflow-y:scroll;
  height:50%;
    /*Change in the values here.*/
}