<!--
<p>
  sort-table works!
</p>
-->
<!-- Install angular animations,cdk,common,material etc as supporting packages-->
<!--
<div class="container-fluid" style="margin:5px">
  <div class="rect">
    <h3><p>Roles and Responsibilities</p></h3>
  </div>

  <div class="rect2">
      <span style="align:right; display:inline-block"><button class="btn"><h4>New/Edit role</h4></button></span>
  </div>
  </div>
  -->
  
  

<div class="container-fluid" style="margin:5px">

  <div class="btn btn-default">
    <b class="bsizing">Roles and Responsibilities</b>
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <b>New/Edit Role</b>
    </button>
    <ul class="dropdown-menu mddropdown">
        <li>
          <a data-toggle="modal" data-target="#" style="background-color:rgb(0,110,140);" > Security</a>
        </li>
        <hr>
        <li>
          <a data-toggle="modal" data-target="#myModalP" style="color:white; background-color:rgb(0,110,140);">Privileges</a>
        </li>
      </ul>
  </div>
  

<mat-table [dataSource]="dataSource" matSort class="changes" style="margin:5px" >

  <ng-container matColumnDef="name">
    <mat-header-cell class="overide" *matHeaderCellDef mat-sort-header><b>Name</b></mat-header-cell>
    <mat-cell *matCellDef="let user">{{user.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="username">
      <mat-header-cell class="overide" *matHeaderCellDef mat-sort-header><b>Username</b></mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.username}}</mat-cell>
  </ng-container>

    <ng-container matColumnDef="email">
        <mat-header-cell class="overide" *matHeaderCellDef mat-sort-header><b>Email</b></mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
    </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" color="grey" ></mat-header-row>
      <mat-row *matRowDef="let row;columns:displayedColumns"></mat-row>
      
</mat-table>

</div>