         
 <div id="collapseExample" [ngbCollapse]="isCollapsed">
  <label for="typeahead-format">Search for a state:</label>
  <input id="typeahead-format" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultFormatter]="formatter" placeholder="Search" />
</div>