
<div class="top" id="tp">
  <div id="DDM_logo">
      <img src="/assets/OFT_Logo.png" width="100%"  height="125%">
  </div>
     <div id="ddm-text">
            Distribution Data Mart
     </div>
          <div id="user_logo"> 
    <img id = "role-logo" src="/assets/role.png" width="30%" height ="100%"> 
            <div >
      <h1 id="role-text" > {{this.userInformation[0]}}  <br> {{this.userInformation[3]}}</h1> 
            </div> 
          </div>
</div>
