<div class="bottom" id="bt">
  <div id="mu_logo">
      <img src="/assets/Mu_Sigma_Logo.jpg"> 
  </div>
  <div id="dummy">
  </div>
  <div id="copyrights" >
    <p>&copy; Privacy Policy</p>
  </div>
</div>
