.chklist{
    margin-left: 5%;
}
    .modal-role{
        display:block;
        margin-top:5%;
        }
    
    
    .User-search{
        margin-left: 1%;
        border:1px solid #dcdee2;
        border-radius:4px;
        padding-left:1%;
        width:50%;
    }
    
    .selectbtn{
        margin-left: 1%;
        height:70%;
    }

    .privtext{
        margin-top:5%;
    }

    .float-left {
        float:left;
    }