<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-ku" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create New Relation</h5>
      </div>

      <div class="modal-body">

        <!-----------------------------------Column 1---------------------------------------->
          <div class="list-1">
            <form>material
              <div class="input-group">
                <!-- <input type="text" class="form-control" placeholder="Search"> -->
                <input id="typeahead-format" name="modal1Name"  type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultFormatter]="formatter" placeholder="Search" />
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div>
              <div>
                  <div style="width:10%;">
                    <i class="material-icons drops" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapseExample">add</i>
                  </div>
                  <div style="width:90%; padding-left: 2%;margin-top:5%; margin-bottom: 3%; margin-left: 7%;">Option1</div>
                  <div class="collapse" id="collapse1">
                      <div class="checkbox">
                          <label><input type="checkbox" value="">Option 2</label>
                      </div>
                      <div class="checkbox">
                          <label><input type="checkbox" value="">Option 2</label>
                      </div>
                      <div class="checkbox">
                          <label><input type="checkbox" value="">Option 2</label>
                      </div>
                  </div>

                  <div style="width:10%;">
                  <i class="material-icons drops" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapseExample">add</i>
                  </div>
                  
                  <div style="width:90%; margin-left: 9%;">Option2</div>
                  <div class="collapse" id="collapse2">
                      <div class="checkbox">
                          <label><input type="checkbox" value="">Option 3</label>
                      </div>
                      <div class="checkbox">
                          <label><input type="checkbox" value="">Option 3</label>
                      </div>
                      <div class="checkbox">
                          <label><input type="checkbox" value="">Option 3</label>
                      </div>
                  </div>

                      <div style="margin-top:3%;">
                      <div style="width:10%;">
                      <i class="material-icons drops" data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapseExample">add</i>
                      </div>
                      
                      <div style="width:90%; margin-left: 9%;">Option3</div>
                      <div class="collapse" id="collapse3">
                          <div class="checkbox">
                              <label><input type="checkbox" value="">Option 3</label>
                          </div>
                          <div class="checkbox">
                              <label><input type="checkbox" value="">Option 3</label>
                          </div>
                          <div class="checkbox">
                              <label><input type="checkbox" value="">Option 3</label>
                          </div>
                      </div>
                    </div>
                  <!-- <div class="checkbox">
                    <label><input type="checkbox" value="">Option 2</label>
                  </div>
                  <div class="checkbox disabled">
                    <label><input type="checkbox" value="">Option 3</label>
                  </div>
                  <div class="checkbox disabled">
                    <label><input type="checkbox" value="">Option 3</label>
                  </div> -->
              </div>

            </form>
          </div>

          <!-------------------------------------------Middle button---------------------------------------------->
          <div class="add-button"> 

            <div class="form-group relation" style="width:100%;">
                <select class="form-control joins" style="height:80%; width:100%;">
                  <option value="" disabled selected>Join</option>
                  <option>Left</option>
                  <option>Right</option>
                  <option>Inner</option>
                  <option>Outer</option>
                </select>
            </div>
          </div>

          <!--------------------------------------------Column 2------------------------------------------------->
          <div class="list-1">
            <form>
              <div class="input-group">
                <!-- <input type="text" class="form-control" placeholder="Search"> -->
                <input id="typeahead-format" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultFormatter]="formatter" placeholder="Search" />
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div>
              <div>
                  <div style="width:10%;">
                    <i class="material-icons drops" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">add</i>
                  </div>
                  <div style="width:90%; padding-left: 2%;margin-top:5%; margin-bottom: 3%; margin-left: 7%;">Option1</div>
                  <div class="collapse" id="collapseExample">
                      <div class="checkbox">
                          <label><input type="checkbox" value="">Option 2</label>
                      </div>
                      <div class="checkbox">
                          <label><input type="checkbox" value="">Option 2</label>
                      </div>
                      <div class="checkbox">
                          <label><input type="checkbox" value="">Option 2</label>
                      </div>
                  </div>

                  <div style="width:10%;">
                  <i class="material-icons drops" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">add</i>
                  </div>
                  
                  <div style="width:90%; margin-left: 9%;">Option2</div>
                  <div class="collapse" id="collapseExample2">
                      <div class="checkbox">
                          <label><input type="checkbox" value="">Option 3</label>
                      </div>
                      <div class="checkbox">
                          <label><input type="checkbox" value="">Option 3</label>
                     </div>
                      <div class="checkbox">
                          <label><input type="checkbox" value="">Option 3</label>
                      </div>
                  </div>

                      <div style="margin-top:3%;">
                      <div style="width:10%;">
                      <i class="material-icons drops" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">add</i>
                      </div>
                      
                      <div style="width:90%; margin-left: 9%;">Option3</div>
                      <div class="collapse" id="collapseExample3">
                          <div class="checkbox">
                              <label><input type="checkbox" value="">Option 3</label>
                          </div>
                          <div class="checkbox">
                              <label><input type="checkbox" value="">Option 3</label>
                          </div>
                          <div class="checkbox">
                              <label><input type="checkbox" value="">Option 3</label>
                          </div>
                      </div>
                    </div>
                  <!-- <div class="checkbox">
                    <label><input type="checkbox" value="">Option 2</label>
                  </div>
                  <div class="checkbox disabled">
                    <label><input type="checkbox" value="">Option 3</label>
                  </div>
                  <div class="checkbox disabled">
                    <label><input type="checkbox" value="">Option 3</label>
                  </div> -->
              </div>

            </form>
          </div>
     
     
     
     
      </div>
      
      <!-- <div>
        <div class="relation-text">
            <b>Create Relation in: </b>
        </div>
        <div class="form-group relation">
            <select class="form-control rel" style="height:40%;">
              <option value="" disabled selected>Semantic Layer</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
        </div>
      </div> -->

      <div class="modal-footer">
        <button type="button" class="btn btnm btn-primary bt" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary bt">Save changes</button>
      </div>
    </div>
  </div>
</div>
