.holder{
    background: rgb(00,78,99);
    height: 83vh;
    width: 100%;
    /* margin-left: 10%; */
}

.tab-style {
    width:85%;
    height: 100%;
    background-color: rgb(00,78,99);
}

.default{
    width:15%;
    height: 100%;
    background-color: rgb(00,78,99);
}

.tool-header{
    height: 12%;
    background-color: rgb(00,78,99);
}

.tool-body{
    height: 88%;
    /* background: black; */
}

.main-tool-body{
    width: 85%;
    border: 0.125px solid black;
    background:white
}

.left-tabs{
    width: 15%;
    height:100%;
    background-color: rgb(00,78,99);
    /* background: white; */
}

.flex-container{
    display: flex;
    flex-direction: row;
}

/* -----------------------------------------------------------------------------------------------------------------*/

.tab {
    overflow: hidden;
    background-color: transparent;
    height: 100%;
}

.tab button {
    background-color: rgb(221, 221, 221);
    float: left;
    border: 0.5px solid rgb(104, 103, 103) ;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 95%;
    height: 100%;
    width: 17.649%;
    color: black;
    border-radius:0;
    white-space: normal;
    text-overflow: ellipsis;
    padding:0px;
}

.tab button:hover,.tabs button:hover {
    background-color: rgb(247, 246, 246);
}

.tab button.active,.tabs button.active {
    background-color: rgb(247, 246, 246);
}

.tabs {
    /* float: left; */
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.tabs button {
    display: block;
    border: 0.5px solid rgb(104, 103, 103) ;
    background-color: rgb(221, 221, 221);
    color: black;
    width: 100%;
    outline: none;
    text-align: center;
    font-size: 95%;
    cursor: pointer;
    transition: 0.3s;
    white-space: normal;
    text-overflow: ellipsis;
    height: 15%;
    border-radius:0;
    overflow : hidden;
    padding:0px;
}

.main-tool-body-header{
    height: 10%;
    width: 95%;
    margin-left: 2.5%;
}

.main-tool-body-content{
    height: 88%;
    width: 95%;
    border: 1px dashed black;
    margin-left: 2.5%;
    /* border: 1px solid black; */
    overflow: scroll;
    overflow-x : hidden;
}

.heading{
    width: 60%;
    float: left;
    height: 100%;
    
}

.caption-style {
    height:50%;
    width: 100%;
}

.icons{
    widows: 40%;
    height:100%;
    float: right;
    align-content: center;
}

.buffer
{
    height:25%;
    width: 100%;
}

b{
    height:100%;
    font-size:100%;
}

.material-icons{
    width: fit-content;
    float: right;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    
}

.press{
    height: 100%;
    width: fit-content;
    font-size: 2em;
    float: left;
    cursor: pointer;

}

.main-style {
font-size:1.5rem
}

.display-none {
    display:none;
}

a{
    color: black;
}

a:hover {
    color: rgb(2, 136, 173);
}

a:active{
    color: rgb(2, 136, 173);   
}
