<!-- Modal -->
<div class="modal fade" id="shareReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-ku" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Share Report</h5>
      </div>


      <div class="modal-body">

        <!-----------------------------------Column 1---------------------------------------->
        
        <div class="wrapper">
          <div class= "report-name">
            <div class="report">
              <p>Report Name:</p>
            </div>

            <div class="name">
              <input class="form-control" id="repName" type="text" disabled />
            </div>
          </div>

          <div class="buttons">
            <input class="sel1" type="radio" name= "select"/> Entire Report
            <input class="sel2" type="radio" name= "select"/> Select Sheets 
          </div>

          <div class="format">
              <div class="report"> 
                <p>Format:</p>
              </div>

              <div class="form-group name">
                  <select class="form-control" style="height:40%;">
                    <option value="" selected></option>
                    <option>Csv</option>
                    <option>Excel</option>
                    <option>Word</option>
                  </select>
              </div>
          </div>

          <div class="delivery">
              <div class="report"> 
                <p>Delivery Method:</p>
              </div>

              <div class="form-group name">
                  <select id="delivery" class="form-control" style="height:40%;">
                    <option value="" selected></option>
                    <option value="email">Email</option>
                    <option value="shared">Shared Drive</option>
                    <option value="FTP">FTP</option>
                  </select>
              </div>
          </div>



          <!-----------------------------Email option selector------------------------------------------->

          <div id="email" class="method" style="display:none">
              <div class="report-name">  
                <div class="report"> 
                  <p>Choose User:</p>
                </div>

                <div class="form-group name">
                    <select class="form-control" style="height:40%;">
                      <option value="" selected></option>
                      <option>User 1</option>
                      <option>User 2</option>
                      <option>User 3</option>
                    </select>
                </div>
              </div>

              <div class="check1">
                <input class="check" type="checkbox" value=""/>
              </div>
              <div class="texts">
                <p>User can 'Drill down'</p>
              </div> 

              <div class="check2">
                <input class="check" type="checkbox" value=""/>
              </div>
              <div class="texts">
                <p>User can use 'Parameters'</p>
              </div> 

              <div class="delivery">
                  <div class="report"> 
                    <p>Add Description:</p>
                  </div>
    
                  <div class="form-group desc">
                      <select id="delivery" class="form-control" style="height:40%;">
                        <option value="" selected></option>
                        <option value="email">Email</option>
                        <option value="shared">Shared Drive</option>
                        <option value="FTP">FTP</option>
                      </select>
                  </div>

                  <div class="icons">
                      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                          <path fill="#000000" d="M5,3C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19H5V5H12V3H5M17.78,4C17.61,4 17.43,4.07 17.3,4.2L16.08,5.41L18.58,7.91L19.8,6.7C20.06,6.44 20.06,6 19.8,5.75L18.25,4.2C18.12,4.07 17.95,4 17.78,4M15.37,6.12L8,13.5V16H10.5L17.87,8.62L15.37,6.12Z" />
                      </svg>
                  </div>
              </div>

              <div class="delivery">
                  <div class="report"> 
                    <p>Add Signature:</p>
                  </div>
    
                  <div class="form-group desc">
                      <select id="delivery" class="form-control" style="height:40%;">
                        <option value="" selected></option>
                        <option value="email">Email</option>
                        <option value="shared">Shared Drive</option>
                        <option value="FTP">FTP</option>
                      </select>
                  </div>

                  <div class="icons">
                      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                          <path fill="#000000" d="M5,3C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19H5V5H12V3H5M17.78,4C17.61,4 17.43,4.07 17.3,4.2L16.08,5.41L18.58,7.91L19.8,6.7C20.06,6.44 20.06,6 19.8,5.75L18.25,4.2C18.12,4.07 17.95,4 17.78,4M15.37,6.12L8,13.5V16H10.5L17.87,8.62L15.37,6.12Z" />
                      </svg>
                  </div>
              </div>
              
              

          </div>

          


          <!---------------------------------Shared Drive option selector---------------------------------->

          <div id="shared" class="method" style="display:none">
              <div class="report-name">  
                <div class="report"> 
                  <p>Shared Drive Link:</p>
                </div>

                <div class="form-group name">
                    <select class="form-control" style="height:40%;">
                      <option value="" selected></option>
                      <option>Link 1</option>
                      <option>Link 2</option>
                      <option>Link 3</option>
                    </select>
                </div>
              </div>

              <div style="height:2%; width: 100%;"></div>

              <div class="delivery">
                  <div class="report" style="padding:0 0 7px 0;"> 
                    <p>Add Description:</p>
                  </div>
    
                  <div class="form-group desc">
                      <select id="delivery" class="form-control" style="height:40%;">
                        <option value="" selected></option>
                        <option value="email">Email</option>
                        <option value="shared">Shared Drive</option>
                        <option value="FTP">FTP</option>
                      </select>
                  </div>

                  <div class="icons">
                      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                          <path fill="#000000" d="M5,3C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19H5V5H12V3H5M17.78,4C17.61,4 17.43,4.07 17.3,4.2L16.08,5.41L18.58,7.91L19.8,6.7C20.06,6.44 20.06,6 19.8,5.75L18.25,4.2C18.12,4.07 17.95,4 17.78,4M15.37,6.12L8,13.5V16H10.5L17.87,8.62L15.37,6.12Z" />
                      </svg>
                  </div>
              </div>


              <div class="delivery">
                  <div class="report"> 
                    <p>Add Signature:</p>
                  </div>
    
                  <div class="form-group desc">
                      <select id="delivery" class="form-control" style="height:40%;">
                        <option value="" selected></option>
                        <option value="email">Email</option>
                        <option value="shared">Shared Drive</option>
                        <option value="FTP">FTP</option>
                      </select>
                  </div>

                  <div class="icons">
                      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                          <path fill="#000000" d="M5,3C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19H5V5H12V3H5M17.78,4C17.61,4 17.43,4.07 17.3,4.2L16.08,5.41L18.58,7.91L19.8,6.7C20.06,6.44 20.06,6 19.8,5.75L18.25,4.2C18.12,4.07 17.95,4 17.78,4M15.37,6.12L8,13.5V16H10.5L17.87,8.62L15.37,6.12Z" />
                      </svg>
                  </div>
              </div>

          </div>





          <!-------------------------------------FTP option selector------------------------------------------------------>

          <div id="FTP" class="method" style="display:none">
              <div class="report-name">  
                <div class="report"> 
                  <p>FTP Address:</p>
                </div>

                <div class="form-group name">
                    <select class="form-control" style="height:40%;">
                      <option value="" selected></option>
                      <option>Link 1</option>
                      <option>Link 2</option>
                      <option>Link 3</option>
                    </select>
                </div>
              </div>

              <div class="delivery">
                  <div class="report"> 
                    <p>FTP Port:</p>
                  </div>
    
                  <div class="form-group name">
                      <select id="delivery" class="form-control" style="height:40%;">
                        <option value="" selected></option>
                        <option value="email">Email</option>
                        <option value="shared">Shared Drive</option>
                        <option value="FTP">FTP</option>
                      </select>
                  </div>
              </div>

              <div class="delivery">
                  <div class="report"> 
                    <p>Add Description:</p>
                  </div>
    
                  <div class="form-group desc">
                      <select id="delivery" class="form-control" style="height:40%;">
                        <option value="" selected></option>
                        <option value="email">Email</option>
                        <option value="shared">Shared Drive</option>
                        <option value="FTP">FTP</option>
                      </select>
                  </div>

                  <div class="icons">
                      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                          <path fill="#000000" d="M5,3C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19H5V5H12V3H5M17.78,4C17.61,4 17.43,4.07 17.3,4.2L16.08,5.41L18.58,7.91L19.8,6.7C20.06,6.44 20.06,6 19.8,5.75L18.25,4.2C18.12,4.07 17.95,4 17.78,4M15.37,6.12L8,13.5V16H10.5L17.87,8.62L15.37,6.12Z" />
                      </svg>
                  </div>
              </div>


              <div class="delivery">
                  <div class="report"> 
                    <p>Add Signature:</p>
                  </div>
    
                  <div class="form-group desc">
                      <select id="delivery" class="form-control" style="height:40%;">
                        <option value="" selected></option>
                        <option value="email">Email</option>
                        <option value="shared">Shared Drive</option>
                        <option value="FTP">FTP</option>
                      </select>
                  </div>

                  <div class="icons">
                      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                          <path fill="#000000" d="M5,3C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19H5V5H12V3H5M17.78,4C17.61,4 17.43,4.07 17.3,4.2L16.08,5.41L18.58,7.91L19.8,6.7C20.06,6.44 20.06,6 19.8,5.75L18.25,4.2C18.12,4.07 17.95,4 17.78,4M15.37,6.12L8,13.5V16H10.5L17.87,8.62L15.37,6.12Z" />
                      </svg>
                  </div>
              </div>
              
              

          </div>

        </div>
          
      </div>
    
      <div class="modal-footer">
        <button type="button" class="btn btn-primary but1" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Share</button>
      </div>
    </div>
  </div>
</div>
