.modal-header{
    background-color: rgb(00,34,61);
    color: white;
}

.modal-body{
    width:100%;
    color: black;
    /* padding: 20px 10px; */
}

.modal-footer{
    justify-content: center;
    padding:2%;
    height: 20%;
}

.modal-content, .modal, .modal-dialog-centered{
    width:800px;
    justify-content: center;
    margin:auto;
}

.wrapper{
    width:100%;
    padding: 5% 8%;
}

.report-name{
    width:100%;
    margin-bottom:12%;
}

.report{
    width:30%;
    float: left;
}

.name{
    width:60%;
    float: left;
    margin-left: 10%;
}

.button{
    width: 100%;
}

.sel1{
    width:10%;
    padding-left: 20%;
    
}

.sel2{
    width:10%;
    padding-left:20%;
    margin-bottom: 5%;
}

.check1, .check2{
    width: 10%;
    float: left;
    padding-left:15%;
}

.texts{
    width:80%;
    float: left;
    padding-left: 10%;
}

.desc {
    width: 55%;
    float: left;
    padding-left:10%;
}

.icons{
    width:15%;
    float: left;
    padding-left: 5%;
}

.btn{
    background-color:  rgb(0,34,61);
}

.modal-footer > .but1{
    margin-right: 30.25rem;
}

p[_ngcontent-c14] {
    margin: 0 07px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0;
}