.modal-dialog{
    overflow-y: initial !important
}
.chkmodal{
    height: 30vh;
    overflow-y: auto;
}

.first{
    color:black;
    margin-left:-65%;
    margin-top:40%;
}

.modal-header{
    background-color:rgb(0,34,61);
    padding-left:8%;
}

.btnm{
    background-color:rgb(0,34,61)
}

.chkmodal{
    color: black;
    padding-left:10%
}

.second{
    width:70%;
}

.tagaddbox{
    width:90%;
    margin-top:2%;
}

.tagsearchbox{
    width:90%;
    margin-top:2%;
}

.addtags{
    margin-top:6%;
}