<!-- Button trigger modal -->
<a routerLinkActive="active" routerLink="query-table"><button type="button" class="btn btn-primary">
  Create Views
</button></a>

<!-- Modal -->
<div class="modal fade" id="createColumn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Table search  -->
    <label for="typeahead-focus">Name:</label>
    <input 
    id="typeahead-format" 
    type="text" 
    class="form-control" 
    [(ngModel)]="model" 
    [ngbTypeahead]="search" 
    [resultFormatter]="formatter" 
    />
    <!-- Column name multiselect dropdown -->
    <span>Columns:-</span>
    <ng-multiselect-dropdown
      [placeholder]="'custom placeholder'"
      [data]="dropdownList"
      [(ngModel)]="selectedItems"
      [settings]="dropdownSettings"
      (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)"
    >
    </ng-multiselect-dropdown>

    <!-- Function select  -->
    <div class="container-flex">
        <span>Function</span>
        <div class="row" id="func">
          <button type="button" class="btn">+</button>
          <button type="button" class="btn">x</button>
          <button type="button" class="btn">/</button>
          <button type="button" class="btn">-</button>
          <button type="button" class="btn">%</button>
          <button type="button" class="btn">Like</button>
          <button type="button" class="btn">COUNTIF</button>
          <button type="button" class="btn">NOT LIKE</button>
          <button type="button" class="btn">DECODE</button>
          <button type="button" class="btn">Trim</button>
          <div ngbDropdown class="d-inline-block">
            <button class="btn " id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Conversion Functions</button>
              <button class="dropdown-item">String Functions</button>
              <button class="dropdown-item">Date Functions</button>
              <button class="dropdown-item">Mathematical Function</button>
              <button class="dropdown-item">Miscellaneous Functions</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="container-flex">
        <span>Formula</span>
        <div class="container-flex">
        <textarea class="form-control"rows="5" id="comment"></textarea>
        </div>  
      </div>
      <!-- End of the modal body --> ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>