.modal-header{
    background-color: rgb(43, 89, 162);
}

.modal-footer, .modal-body{
    background-color: rgb(226, 226, 226)
}

.modal-title{
    color: white;
    size: 0.5rem
}

.modal-footer button{
    background-color: rgb(70,127,215);
    margin-left: auto;
    margin-right: auto
    
}

/* Demo 2 */
#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}

#func{
    border: 1px;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    border-style: solid
}

.btn{
    margin: auto;
    padding-top: initial;
    float: left;
}
.modal-content{
    color: black
}

.modal-footer{
    margin-top: 0%
}
