.modal-dialog{
    overflow-y: initial !important;
    position: fixed;
    top: 20%;
    left:38%;
    transform: translate(-50%, -50%);

}
.chkmodal{
    height: 30vh;
    overflow-y: auto;
}

.first{
    color:black;
    margin-left:-65%;
    margin-top:40%;
}

#myModal01{
    margin-top:12%;
}

#myModal02{
    margin-top:10%;
}
.modal-header{
    background-color:rgb(0,34,61);
    padding-left:16%;
}

.btnm{
    background-color:rgb(0,34,61);
    margin-left: 0%;
    margin-right: 60%;
}

.chkmodal{
    color: black;
    padding-left:25%
}

.second{
    width:70%;
}

.confirmmodal{
    background-color: rgb(33,73,108);
}

.btnconfirm1{
    display:inline;
    width:30%;
    margin-left:13%;
    margin-bottom:3%;
}

.btnconfirm2{
    display:inline;
    width:30%;
    margin-left:10%;
    margin-bottom:3%;
}

.btnsucess{
    margin-left:40%;
    margin-bottom:5%;
}

#myModal03{
    width:60%;
    margin-top:10%;
    margin-left:20%;
    overflow: hidden;
}
