.body{
    background-color: rgb(00,78,99);
    margin: 0%;
    height:83.5vh;
    width:100%;
    padding:0;
  }

/* html{
background-color: rgb(255, 255, 255);
margin: 0%;
height:78vh;
width:100%;
padding:0;
} */
  
.ddm-size{
    font-size: 140%
}
#myModal{
	margin-top:10%;
}
.mddropdown {
	background-color: rgb(0,110,140);
	color: white;
	padding:10px 10px;
	border: 1px solid rgb(0,150,150);
	
}

.top{
    background-color:  rgb(00,55,72);
    min-height: 5vh;
    margin:0%
}

#user_logo_fun{
    text-align: end    
}

#user{
    background-color:  rgb(00,55,72);
    margin: 0%;
    border: 0;
}

#bottom{
    background-color: rgb(00,55,72);
    position: sticky;
    min-height: 3vh;
  
}

#copyrights{
    text-align: end;
    border: 0em;
}

.modal-content { 
    background-color: rgb(69,122,177);
	}
	
.modal-content-1, .modal-content-2{
	display:flex;
	background-color: rgb(216,229,241);
	width:70%;
	margin-left: 17%;	
}

.modal-content-2{
	margin-top:2%;
}

.img2 { 
padding-top:1%;
padding-left:7%;}

.p { 
padding-top:2%;
padding-left:18%;}

