#myModal1{
	margin-top:10%;
}

.modal-header{
	background-color: rgb(0,34,61);
	color:white;
}

.modal-search, .modal-role{
padding-left:5%;
}

.modal-role{
	display:block;
	margin-top:5%;
	}


.User-search{
	margin-left: 1%;
	border:1px solid #dcdee2;
	border-radius:4px;
	padding-left:1%;
	width:70%;
}

.selectbtn{
	margin-left: 1%;
	height:70%;
}

.close{
	color:white;
}
.float-left {
	float:left;
}