<!-- Modal 1 -->
<script src="./assets/slimselect.min.js"></script> 
<link href="./assets/slimselect.min.css" rel="stylesheet"> 
  

<div id="myRoles" class="modal fade" role="dialog">

  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
	  <h3> Roles </h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
	  
	   <div class="modal-body">

		<div class="modal-search">
			<span class="float-left">User</span>
				<select id="multiple" multiple style="margin-left:1%;">
				<option value="value 1">Value 1</option>
				<option value="value 2">Option2</option>
				<option value="value 3">QWERTY</option>
				</select>
			<button type="button" class="btn btn-primary selectbtn float-left">Select</button>
		</div>
        <br>
		<div class="modal-role">
			<span>Role </span>
			<input type="text" class="User-search" placeholder="Select a role" title="Type in a name" list="role"> 
			<datalist id="role">
				<option value="Admin">
				<option value="Non-Admin">
			</datalist>
		</div>
			  
	    </div>
			  
			  
	    <div class="modal-footer">
          <button type="button" class="btn btn-primary mr-auto">Cancel</button>
		  <button type="button" class="btn btn-primary">Apply</button>
        </div>
      </div>

</div>
          