<div style="width:100%;height:95%;background:white;">
    <div id="top-buttons"> 
      <a routerLink="sem-existing"><button id="existing" class="tpbt" (click)="existingSM()">Semantic Layers</button></a>
      <a routerLink="sem-new"><button id="new" class="tpbt" (click)="newSM()">Create new semantic Layer</button></a> 
    </div> 
    <div style="margin-left:20px">
      <router-outlet></router-outlet>
    </div>
</div>

  