.modal-header{
    background-color: rgb(00,34,61);
}

.modal-body{
    width:100%;
    color: black;
}

.modal-footer{
    justify-content: center;
    padding:2%;
       
}
.header{
    background-color: lightgray
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}