.col-sm-3{
    text-align: center;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;
    align-content: center;
    padding-left: 2.5%
}

#button-row{
    padding-top:3%
}

.dropdown{
    padding-top:3%
}



.button1{
    /* margin-top:10%; */
    border-radius:50%;
    height: 90%;
    width: 90%;
    cursor: pointer;
    background-color:rgb(227,242,253);
    box-shadow: 3px 2px 23px 2px #000000;}

.button2{
    /* margin-top:45%; */
    border-radius:50%;
    height: 90%;
    width: 90%;
    background-color:rgb(227,242,253);
    margin-top: 25%;
    box-shadow: 3px 2px 23px 2px #000000;
}

@media screen and (max-width: 576px) {
    div.button2{
        margin-top: 0%;
    }
  }

.drpdwn{
    padding-left: 1%;
    background-color:rgb(0, 121, 158);
    width: 12.5%;
}

#body {
    background-color: rgb(00,55,72);
}