<!--Modal1-->
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content second">
        <div class="modal-header">
            <h4 class="modal-title">Select tables from database</h4>
          </div>
          <div class="modal-body chkmodal">
              <div class="checkbox">
                  <label><input type="checkbox" value="">Vehicle Info</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">Dealer Brand Allocation</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">Table Return Data</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Marketing Modal</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Dealership Data</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Transfer Data</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">Data One</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">DB 1</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">Table 1</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">ZZZ</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">Table 2</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">Table 4</label>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary btnm" data-dismiss="modal">Cancel</button>
            <button data-toggle="modal" data-dismiss="modal" data-target="#myModal2" onmouseover="" style="cursor: pointer;" type="button" class="btn btn-primary mr-auto btnm">Add</button>
            
          </div>
      </div>
  </div>
</div>

<!--Modal 2-->
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content confirmmodal">
        <div class="modal-body">
          <p style="font-size:125%;">Are you sure you want to add the tables?</p>
        </div>
        <div>
          <button type="button" class="btn btn-primary btnconfirm1" data-dismiss="modal" >No</button>
          <button data-toggle="modal" data-dismiss="modal" data-target="#myModal3" onmouseover="" style="cursor: pointer;" type="button" class="btn btn-primary btnconfirm2">Yes</button>
        </div>
      </div>
  
    </div>
  </div>

  <!--Modal 2-->
<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content confirmmodal">
        <div class="modal-body">
          <p style="font-size:125%;">Tables added successfully!</p>
        </div>
        <div>
        <button type="button" class="btn btn-primary btnsucess" data-dismiss="modal">Okay</button>
        </div>
      </div>
  
    </div>
  </div>
