<div style="height:6%;width: 100%;background-color:aliceblue">
  <div class="inner-elements" style="height:100%;min-width: 5%;max-width: 5%;float: left;"><input type="checkbox" name="" id=""></div>
  <div class="inner-elements" style="height:100%;min-width: 20%;max-width: 20%;float: left;">Reportname</div>
  <div class="inner-elements" style="height:100%;min-width: 20%;max-width: 20%;float: left;">ModifiedOn</div>
  <div class="inner-elements" style="height:100%;min-width: 20%;max-width: 20%;float: left;">ModifiedBy</div>
  <div class="inner-elements" style="height:100%;min-width: 20%;max-width: 20%;float: left;">ScheduledBy</div>
  <div class="inner-elements" style="height:100%;min-width: 15%;max-width: 15%;float: left;">Icons</div>
</div>

<form [formGroup]="form" (ngSubmit)="submit()">
  <label class="list" formArrayName="orders" *ngFor="let order of form.controls.orders.controls; let i = index">
    <div style="width:100%">
      <div class="inner-listelements" style="width:5%;float: left;">
        <input type="checkbox" [formControlName]="i">
      </div>
      <div class="inner-listelements" style="width:20%;float: left;">
        {{orders[i].Reportname}}

      </div>
      <div class="inner-listelements" style="width:20%;float: left;">
          {{orders[i].ModifiedOn}}
        </div>
      <div class="inner-listelements" style="width:20%;float: left;">
        {{orders[i].ModifiedBy}}
      </div>
      <div class="inner-listelements" style="width:20%;float: left;">
        {{orders[i].ScheduledBy}}
      </div>
      <div class="inner-listelements" style="width:15%;float: left;">
        <div>
          <button class="list-click" data-toggle="modal" data-target="#shareReport">
            <svg viewBox="0 0 24 24">
              <path fill="#000000" d="M18,16.08C17.24,16.08 16.56,16.38 16.04,16.85L8.91,12.7C8.96,12.47 9,12.24 9,12C9,11.76 8.96,11.53 8.91,11.3L15.96,7.19C16.5,7.69 17.21,8 18,8A3,3 0 0,0 21,5A3,3 0 0,0 18,2A3,3 0 0,0 15,5C15,5.24 15.04,5.47 15.09,5.7L8.04,9.81C7.5,9.31 6.79,9 6,9A3,3 0 0,0 3,12A3,3 0 0,0 6,15C6.79,15 7.5,14.69 8.04,14.19L15.16,18.34C15.11,18.55 15.08,18.77 15.08,19C15.08,20.61 16.39,21.91 18,21.91C19.61,21.91 20.92,20.61 20.92,19A2.92,2.92 0 0,0 18,16.08Z" />
            </svg>
          </button> 
          <app-share-report></app-share-report>
           <button class="list-click">
            <svg viewBox="0 0 24 24">
              <path fill="#000000" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
            </svg>
          </button>
          <button class="list-click" data-toggle="modal" data-target="#schedule">
            <svg viewBox="0 0 24 24">
              <path fill="#000000" d="M15,13H16.5V15.82L18.94,17.23L18.19,18.53L15,16.69V13M19,8H5V19H9.67C9.24,18.09 9,17.07 9,16A7,7 0 0,1 16,9C17.07,9 18.09,9.24 19,9.67V8M5,21C3.89,21 3,20.1 3,19V5C3,3.89 3.89,3 5,3H6V1H8V3H16V1H18V3H19A2,2 0 0,1 21,5V11.1C22.24,12.36 23,14.09 23,16A7,7 0 0,1 16,23C14.09,23 12.36,22.24 11.1,21H5M16,11.15A4.85,4.85 0 0,0 11.15,16C11.15,18.68 13.32,20.85 16,20.85A4.85,4.85 0 0,0 20.85,16C20.85,13.32 18.68,11.15 16,11.15Z" />
            </svg>
          </button>
          <app-schedule></app-schedule>
          <span class="dropdown">
            <button class="list-click" type="button" data-toggle="dropdown">
              <svg viewBox="0 0 24 24">
                <path fill="#000000" d="M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,10.5A1.5,1.5 0 0,0 10.5,12A1.5,1.5 0 0,0 12,13.5A1.5,1.5 0 0,0 13.5,12A1.5,1.5 0 0,0 12,10.5M6.5,10.5A1.5,1.5 0 0,0 5,12A1.5,1.5 0 0,0 6.5,13.5A1.5,1.5 0 0,0 8,12A1.5,1.5 0 0,0 6.5,10.5M17.5,10.5A1.5,1.5 0 0,0 16,12A1.5,1.5 0 0,0 17.5,13.5A1.5,1.5 0 0,0 19,12A1.5,1.5 0 0,0 17.5,10.5Z" />
              </svg>
            </button>

            
            <ul class="list-group dropdown-menu pull-right moredropdown">
                <li class="list-group-item"><strong> Delete</strong></li>
                <li class="list-group-item"><strong>Rename</strong></li>
                <li class="list-group-item" data-toggle="modal" data-target="#TagModal" onmouseover="" style="cursor: pointer;"><strong>Tags </strong></li>
            </ul>
           </span>
            <app-tagmodal></app-tagmodal>

        </div>
      </div>

    </div>
  </label>

  <button>submit</button>
</form> 


<!-- <button data-toggle="modal" data-target="#myModall" onmouseover="" style="cursor: pointer;"> 3D-button</button> -->

<!-- Modal 1 -->
<!-- <div id="myModall" class="modal fade" role="dialog">
    <div class="modal-dialog">
   -->
      <!-- Modal content-->
      <!-- <div class="modal-content" style = "height: 28%;
      width: 160%">
       
        <div class="modal-body" >
          <div class="modal-content-1">
            <div class="img2">
              <img src = 'src\assets\joins-img1.PNG' style = "height: 500px;
                width: 700px;
                margin: 0px; 
                padding: 0px;
                float: left;">
            </div> -->
            <!-- <div class="p">  
              <a data-toggle="modal" data-target="#myModal1" data-dismiss="modal" onmouseover="" style="cursor: pointer;">  
              <p>Roles</p>
              </a>
            </div>
           </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>

      </div>
  
    </div>
  </div> -->
